body {
  grid-template-columns: 1fr;
}
.template {
  td {
    // width: 100%;
    span {
      display: inline-block;
      width: 50%;
      background-color: rgb(229, 217, 217);
      box-sizing: border-box;
      margin: 8px;
      height: 20px;
      &.icon {
        height: 40px;
      }
    }
  }
}
.loadDataPrompt {
  display: grid;
  position: absolute;
  width: 100vw;
  place-items: center;
  height: 100vh;
  background-color: rgba(73, 70, 70, 0.3);
  .promptContainer {
    background-color: white;
    padding: 1em;
    display: grid;
    gap: 1em;
    border-radius: 1em;
    position: relative;
    width: max-content;
    height: max-content;
    text-align: center;
    font-size: large;
    .title {
      display: grid;
      grid-template-columns: 1fr 50px;
      i {
        cursor: pointer;
        svg:hover {
          fill: red;
        }
      }
    }
  }
  .action {
    display: flex;
    gap: 2em;
    justify-content: center;
  }

  &.hidden {
    display: none;
  }
}
